.forms-tabs li a {
    display: inline-block;
    color: #fac50a;
    font-size: 15px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 1px;
    font-family: Impact, fantasy;
    padding: 6px 20px;
    border-radius: 15px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fac50a !important;
}

._1JRgb {
    color: #fac50a;
    font-size: 28px;
    line-height: 43px;
    font-family: Impact, fantasy;
    font-weight: 300;
    margin-top: 17px;
    margin-bottom: 37px;
    text-align: center;
}
