.forms-tabs li a {
    display: inline-block;
    color: #fac50a;
    font-size: 15px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 1px;
    font-family: Georgia, fantasy;
    padding: 6px 20px;
    border-radius: 15px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fac50a !important;
   
}

._1JRgb {
    color: #fac50a;
    font-size: 28px;
    line-height: 43px;
    font-family: Georgia, fantasy;
    font-weight: 300;
    margin-top: 17px;
    margin-bottom: 37px;
    text-align: center;
}

.avia-search-form-wrap .avia-search-form .avia-search-form__change-type a:hover, .is-today .pika-button, .forms-tabs li:hover a, .forms-tabs li:hover a:hover, .nav-bar .mobile-menu .navbar-collapse ul li a:hover, .nav-bar .mobile-menu .navbar-collapse ul li a:focus, [data-wl-class~="HotelsIndex__deals"] .deals-description, [data-wl-class~="TabsList__TabsList--theme-hotel-page"] [data-wl-class~="MenuItem__MenuItem--isActive"] [data-wl-class~="MenuItem__inner"], [data-wl-class~="DropdownTrigger__value DropdownTrigger__value--product-railways"], [data-wl-class~="HotelsSerp__hotels"] [data-wl-class~="DropdownTrigger__value"], [data-wl-class~="StarRating__StarRating"], [data-wl-class~="HotelPageHeader__city"], [data-wl-class~="DropdownTrigger__value"]
{
    color: #cc5151 !important;
}

.banner-avia .banner-avia-title {
    color: #cc5151;
}
.Filter__cell___3UBBb {
    color: #cc5151;
}
.NewToggleButton__NewToggleButton___3dPFH {
    color: #cc5151;
}

#ottSaaS, body, html{
color: #7d681c;
}
.white-block {
    background-color: #ebebe5 !important; }

.avia-search-form-wrap:before {
background: rgba(0,0,0,.37);
padding: 100px 0px;	
}

.avia-search-form-wrap 
{
    padding: 200px 10px;
    padding-top: 200px;
    padding-right: 10px;
    padding-bottom: 200px;
    padding-left: 10px;
}


.form-title {
    color: #fcd95c;
    font-size: 25px;
    margin: 0 0 0px;
    text-align: center;
    position: relative;
    font-family: Georgia, fantasy;
	
}
	
}
.banner-avia h3 {
  
    font-family: Georgia, fantasy !important;
}
.text-center {
    font-family: Georgia, fantasy;
}
body.appContainer .banner-wl-block .banner-wl-block-row .banner-wl-block-col .banner-wl-block-title {
    color: #cc5151;
	    
}

body.appContainer .form-container .form-title {
    color: #fcd95c;
font-size: 35px;
font-weight: 600;
    margin: 0 0 0px;
    text-align: center;
    position: relative;
    font-family: Georgia, fantasy;
	
}
body.appContainer div[data-wl-class~=HotelsIndex__main-title] {
color: #fcd95c;
font-size: 25px;
    margin: 0 0 0px;
    text-align: center;
    position: relative;
    font-family: Georgia, fantasy;
	
	
}
[data-wl-class~='HotelPage__header'] {
    background-color: #ebe7db;
}
.ottwl-header {
    position: absolute;
	padding: 0px 0;
}
body.appContainer [data-wl-class=App__App] [data-wl-class=App__body] 
{
     padding-top: 0px;
}
body.appContainer .form-container .form-title {
color: #fcd95c;
font-size: 25px;
font-weight: 0px;
    margin: 0 0 0px;
    text-align: center;
    position: relative;
    font-family: Georgia, fantasy;
	padding: inherit;	
}
.btn-group>.btn:first-child
{
right: 37px;
}

.btn-group>.btn {
    position: relative;
}

